<ion-navbar *navbar>
    <ion-title *ngIf="edit">
        Edit Ordine
    </ion-title>
    <ion-title *ngIf="!edit">
        View Ordine
    </ion-title>
</ion-navbar>

<ion-content>
    <form #ordiniForm="ngForm" novalidate>
        <ion-list>
            <ion-item>
                <ion-label fixed>Data</ion-label>
                <ion-input type="date" [ngModel]="ordine.data" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Note</ion-label>
                <ion-input type="text" [ngModel]="ordine.note"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Cliente</ion-label>
                <ion-select [(ngModel)]="ordine.cliente">
                    <ion-option *ngFor="#c of clienti" [value]="c">{{c.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Prdootti</ion-label>
                <ion-select [(ngModel)]="ordine.prodotti" multiple="true">
                    <ion-option *ngFor="#p of prodotti" [value]="p">{{p.title}}</ion-option>
                </ion-select>
            </ion-item>

            <button class="btn btn-default" (click)="save()" *ngIf="edit">Salva</button>
            <button class="btn btn-default" (click)="update()" *ngIf="!edit">Aggiorna</button>
            <button class="btn btn-default" (click)="undo()">Annulla</button>

        </ion-list>
    </form>
</ion-content>