<ion-navbar *navbar>
    <ion-title>
        Edit Ordine
    </ion-title>
</ion-navbar>

<ion-content>
    <form>
        <ion-list>
            <ion-item>
                <ion-label fixed>Data</ion-label>
                <ion-input type="text" [ngModel]="ordine.data" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Note</ion-label>
                <ion-input type="text" [ngModel]="ordine.note"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Cliente</ion-label>
                <ion-select [(ngModel)]="ordine.cliente">
                    <ion-option *ngFor="#c of clienti" [value]="c">{{c.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Prdootti</ion-label>
                <ion-select [(ngModel)]="ordine.prodotti" multiple="true">
                    <ion-option *ngFor="#p of prodotti" [value]="p">{{p.title}}</ion-option>
                </ion-select>
            </ion-item>

        </ion-list>
    </form>
</ion-content>